
<div *ngIf="logWork">
    <h2><span jhiTranslate="logWorkApp.logWork.detail.title">Log Work</span> {{logWork.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="logWorkApp.logWork.logwork">Logwork</span></dt>
        <dd>
            <span>{{logWork.logwork}}</span>
        </dd>
        <dt><span jhiTranslate="logWorkApp.logWork.description">Description</span></dt>
        <dd>
            <span>{{logWork.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'log-work-my-suffix/'+ logWork.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
